repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [ '--fix' ]
      - id: ruff-format

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.4
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: ty-check
        name: ty check
        entry: uv run --active ty check
        language: python
        pass_filenames: false
        require_serial: true

      - id: generate-json-schema
        name: generate json schema
        entry: uv run --active scripts/update-json-schema.py
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
