repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        # fix imports:
        # - I001: Bad import order or format
        # - F401: Unused import
        args: [ '--fix', '--fixable', 'I001,F401' ]
      - id: ruff-format

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.0
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: ty-check
        name: ty check
        entry: uv run ty check
        language: python
        types: [python]
