name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: Lint and Test
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.0"
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --dev

      - name: Run code checks
        run: uv run --dev prek run --all-files
